version: '3.9'
services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: CreditDb
      POSTGRES_USER: credituser
      POSTGRES_PASSWORD: creditpass

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U credituser -d CreditDb" ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"

  redis:
    image: redis:7

  web:
    build: .
    command: sh -c "python manage.py makemigrations && python manage.py migrate && python manage.py shell -c 'from loans.tasks import ingest_data; ingest_data.delay()' && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  celery:
    build: .
    command: celery -A core worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
